page-products {
  ion-header {
    ion-navbar {
        .toolbar-background {
            background: $okro-color !important;
        }
        .toolbar-content {
            .category-div {
                display: flex !important;
                justify-content: center !important;
                padding-right: 50px !important;
                ion-select {
                    .select-icon-inner {
                        color: $okro-white;
                    }
                    .select-text, .select-placeholder {
                        color: $okro-white !important;
                        text-align: center !important;
                    }
                } 
            }  
        }
    }
  }
  ion-content {  
      ion-list {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          .product-img {
            display: block;
            margin: auto;
            width: 100px;
            height: 100px;
          }  
        ion-item {
            text-decoration: none;
            height: 28px !important;
            .product-info {
                font-size: 14px;
                color: $okro-color;
                text-align: center;
            }
        }
        .price {
            width: 160px !important;
            margin-left: 72px !important;
            border: 1px solid $okro-color !important;
            border-radius: 8px !important;  
        }
        .info-div {
            min-height: 0rem !important;
        }
        .product-count {
            height: 32px !important;
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 6px;
            border-radius: 8px !important;  
            background-color: $okro-light-grey;
            color: $okro-color;
            font-weight: bold;
            .operator {
                width: 150px;
                margin-top: 4px;
                text-align: center;
            }
            .count {
                margin-top: 6px;
                font-size: 14px;
            }
        }
      }
    }
    ion-footer {
        left: 5px !important;
        bottom: 5px !important;
        .footer-bar {
            display: block;
            width: 97%;
            height: 46px;
            font-size: 18px;
            border-radius: 8px;
            color: $okro-white;
            font-weight: bold;
            background-color: $okro-color;
        }
    }
}

.back-button {
    color: $okro-white !important;
}

.scroll-content {
    padding-top: 12px !important;
}

ion-popover.select-popover.popover-md {
    .popover-content {
        border-radius: 0px!important;
        left: 90px !important;
        width: 160px !important;
    }
    .item-radio-checked.item-md ion-label {
        color: $okro-color;
    }
    .radio-md {
        .radio-checked {
            border-color: $okro-color;
        }
        .radio-inner{
            background-color: $okro-color;
        }
    }
}
